.gradient-background {
    background: linear-gradient(300deg, #E0F4FF, #87C4FF, #39A7FF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
 }
    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      
.brandme{
  color: white ;
  
}

/** HomePage-Title Section**/

#title{
  background-image: url(./assets/images/bgi2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border: 5px solid purple;;

}
.title-div-1{
max-height: 100%;
border: 5px solid blue;
}
.title-div-2{
max-height: 97.50vh;
border:5px solid green;
display: flex;
flex:1;
}
.title-div-3{
  border: 5px solid red;
  
}
.title-div-4{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex:1;
  border:5px solid orange;

}
@media screen and (max-width:767px) {
#title{
  height: 140vh;
  padding: 10px 10px;
}
.title-div-1{
  height: 100%;

}
.title-div-2{
  min-height: 134.50vh;
}
.title-div-3>img{
  width:250px;
  height: 250px;

}
.title-div-3{
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-top: 0;
}

} 

/** Homepage Feature Section **/


#feature{
  background-image: url(./assets/images/bgi1.png);
  background-repeat: no-repeat;
  background-size:cover;
  height:120;
  border: 5px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-div-1{
  height:100%;
  border: 5px solid red;
}
.feature-div-2{
  height:100%;
  border:5px solid blue;
  padding: 0;
  margin: 0;
  ;
}
.feature-div-3{
  border:5px solid green;
  height: 300px;
  width: 500px;
  margin-right: 20px;
}
.feature-div-4{
  border: 5px solid orange;
  margin: 0;
}
.feature-div-5{
  border:5px solid skyblue;
  margin-top: 0;
}
.feature-div-6{
  border: 5px solid pink;
  width: 220px;
  height: 250px;
  margin: 10px;
}

@media screen and (max-width:767px) {
  #feature{
    height: 190vh;
  }
  .feature-div-2{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .feature-div-5{
    display: flex;
    height:100%;
    justify-content: center;
    align-items: center;
    
  }
  .feature-div-3{
    margin: 0;
  }
  .feature-div-4{
    height: 135vh;
  }
  .feature-div-6{
    display: flex;
    flex-wrap: 0;
    width: 100%;
    height: 200px;
  }
}

/** Homepage Feature Section **/

#hero{
  background-image: url(./assets/images/bgi2.png);
  background-size:cover;
  background-repeat: no-repeat;
  height:100vh;
  border:5px solid blue
}
.hero-div-1{
  border: 5px solid purple;
}
.hero-div-2{
  border: 5px solid green;

}
.hero-div-3{
  border-radius: 5px solid yellow;
  
}
.hero-div-4{
  border: 5px solid orange;

}

@media screen and (max-width:767px) {
  #hero{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    background-size:cover;
    background-repeat: no-repeat;
  }
  
}
  


.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.icon-resume{
  filter: invert(100%);
  height: 30px;
}
.nav-b{
  color: white;

}

.nav-link{
  margin:0 2px;
}
.nav-link:hover{
  background-color: #0d6efd;
  color: white;
  
}

.carousel-img{
  border-radius: 2%;

}

/** Address Page**/
#add-body{
  background-image: url(./assets/images/bgi1.png);
}

span{
  color: white;
}

.add-main-area{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}

.add-box{
  display: flex;
  flex:1;
  flex-wrap: wrap;
  height: 65%;
  

}

.add-boxx{
  display: flex;
  flex:1;
}

#add-details{
display: flex;
flex-direction: column;
border: 1px solid black;
margin-right: 1px;
padding-left: 20px;
}

#add-map{
  border: 1px solid black;

}
iframe{
  display: flex;
  flex:1;
}








/** Contact Page **/

#con-body{
  background-image: url(./assets/images/bgi1.png);
}

.row{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items:center;
  
}
